* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.logo {
  width: 100%;
  height: 5rem;
  border-radius: 60%;
  border: none;
}

body {
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #c094c2;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #c094c2;
}

/* Footer */
.footer__container {
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container .social {
  display: flex;
}
.footer__container .social .social__img {
  width: 2rem;
  border-radius: 50%;
  margin: 1rem;
}
.footer__container .copyright__description {
  margin: 0.5rem;
}

/***** H O J A   I N I C I O *****/
.inicio__container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.descrip__container {
  width: 100%;
  margin: 1rem;
}

.descrip__article {
  display: flex;
  height: 15rem;
}

.descrip__box {
  width: 30%;
  background-color: #c094c2;
  padding: 4rem 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.descrip__title {
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 1px 3px 0.6px #4b324d;
  text-align: center;
}

.descrip__explication {
  width: 70%;
  padding: 1rem 3rem;
}
.descrip__explication .descrip__argument {
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: justify;
}

.cards {
  display: flex;
  width: 100%;
  margin: 2.2rem 0;
}
.cards .card__box {
  margin: 0.3rem;
  width: 40%;
}
.cards .card__box .card__img {
  width: 100%;
  border-radius: 1rem;
  background-size: cover;
  filter: grayscale(100%);
}
.cards .card__box .card__img:hover {
  filter: grayscale(0);
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.03);
}
.cards .card__box .card__img .card__descrip {
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
}

/***** H O J A   P R O D U C T O *****/
.pruductos__container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.product__title {
  font-size: 2.4rem;
  margin: 1.5rem 0;
  padding: 1rem;
  font-family: "Play", sans-serif;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.product__img {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

/**** H O J A   S O B R E  M I ****/
.about__container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.about__box {
  display: flex;
}
.about__box .about__item {
  width: 50%;
}
.about__box .about__item .about__img {
  width: 100%;
  height: 40rem;
  padding: 2rem;
  object-fit: contain;
  animation-name: foto;
  animation-duration: 3s;
}
.about__box .about__item .about__description {
  width: 100%;
  height: 40rem;
  padding: 3rem 4rem 4rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
  text-align: justify;
}

@keyframes foto {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
/**** H O J A   U S T E D E S ****/
.ustedes__container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.feedb__title {
  margin: 2rem;
  font-family: "Play", sans-serif;
  font-size: 3rem;
}

.feedb__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense;
}

.grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__item:nth-child(2) {
  grid-row-start: span 2;
}

.grid__item:nth-child(5) {
  grid-column-start: span 2;
}

.grid__item:nth-child(6) {
  grid-row-start: span 3;
}

.grid__item:nth-child(8) {
  grid-row-start: span 2;
}

.grid__item:nth-child(9) {
  grid-row-start: span 2;
  grid-column-start: span 1;
}

.grid__item:nth-child(11) {
  grid-column-start: span 2;
}

/**** H O J A  C O N T A C T O ****/
.contacto__container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 0.3fr 1fr 0.3fr;
}

.form__box {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: 4rem auto;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e8c4f3;
  gap: 1.2rem;
}
.form__box .form__title {
  font-family: "Play", sans-serif;
}
.form__box .form__input {
  border: none;
  height: 20px;
  width: 100%;
}
.form__box .texta {
  min-height: 250px;
  max-height: 350px;
  max-width: 100%;
}

#boton, .boton2 {
  font-size: 15px;
  text-align: center;
  color: #9830dd;
  font-weight: bolder;
}
#boton:hover, .boton2:hover {
  cursor: pointer;
  opacity: 0.8;
}

.boton2 {
  color: rgba(247, 100, 227, 0.8980392157);
}

@media (max-width: 1200px) {
  /***** H O J A  I N D E X ******/
  .descrip__title {
    font-size: 1.8rem;
  }

  .descrip__explication {
    padding: 1rem 2rem;
  }
  .descrip__explication .descrip__argument {
    font-size: 1.1rem;
  }

  .card__descrip {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: start;
  }

  /***** H O J A  S O B R E  M I ******/
  .about__description {
    padding: 3rem;
    line-height: 1.7rem;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .descrip__container {
    margin: 0.5rem;
  }

  .descrip__title {
    font-size: 1.6rem;
  }

  .descrip__box {
    width: 20%;
    padding: 2.2rem 1rem;
  }

  .descrip__explication {
    width: 80%;
  }
  .descrip__explication .descrip__argument {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .card__descrip {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: start;
  }

  /***** H O J A  S O B R E  M I ******/
  .about__description {
    overflow: auto;
  }

  /**** H O J A   U S T E D E S ****/
  .feedb__title {
    font-size: 2.5rem;
  }

  .grid__item:nth-child(2) {
    grid-column-start: span 2;
  }

  .grid__item:nth-child(11) {
    grid-column-start: span 3;
  }
}
@media (max-width: 768px) {
  /***** H O J A  I N D E X ********/
  .descrip__title {
    font-size: 1.4rem;
  }

  .descrip__explication {
    padding: 1rem 2rem;
  }
  .descrip__explication .descrip__argument {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .cards {
    flex-direction: column;
  }
  .cards .card__box {
    width: 100%;
  }
  .cards .card__box .card__img {
    filter: grayscale(0%);
    width: 100%;
  }
  .cards .card__box .card__img:hover {
    transform: none;
  }
  .cards .card__box .card__descrip {
    font-size: 1.2rem;
  }

  /***** H O J A   P R O D U C T O *****/
  .product__title {
    font-size: 2.2rem;
  }

  /***** H O J A  S O B R E  M I ******/
  .about__img {
    padding: 1rem;
  }

  .about__description {
    padding: 4rem 0.5rem 1rem;
    line-height: 1.7rem;
  }

  /**** H O J A   U S T E D E S ****/
  .feedb__title {
    font-size: 2.5rem;
  }

  .grid__item:nth-child(2) {
    grid-column-start: span 3;
  }

  .grid__item:nth-child(6) {
    grid-row-start: span 2;
  }

  .grid__item:nth-child(11) {
    grid-column-start: span 2;
  }
}
@media (max-width: 576px) {
  /***** H O J A  I N D E X ******/
  .descrip__article {
    flex-direction: column;
    margin-bottom: 7rem;
  }
  .descrip__article .descrip__box {
    width: 100%;
    margin-left: 0;
  }
  .descrip__article .descrip__box .descrip__title {
    font-size: 1.3rem;
  }

  .descrip__explication {
    width: 100%;
    padding: 1rem;
  }
  .descrip__explication .descrip__argument {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .cards {
    width: 100%;
  }
  .cards .card__box {
    margin-top: 3rem;
    width: 100%;
  }
  .cards .card__box .card__img {
    width: 100%;
  }
  .cards .card__box .card__img:hover {
    transform: none;
  }
  .cards .card__box .card__descrip {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  /***** H O J A  S O B R E  M I ******/
  .about__box {
    flex-direction: column;
  }
  .about__box .about__item {
    width: 100%;
  }
  .about__box .about__item .about__description {
    overflow: none;
  }

  /**** H O J A   U S T E D E S ****/
  .feedb__title {
    font-size: 1.8rem;
  }

  .grid__item:nth-child(2) {
    grid-row-start: span 1;
  }

  .grid__item:nth-child(6) {
    grid-row-start: span 2;
  }

  .grid__item:nth-child(8) {
    grid-row-start: span 1;
  }

  .grid__item:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  .grid__item:nth-child(11) {
    grid-column-start: span 1;
  }
}

/*# sourceMappingURL=estilos.css.map */
