@import "colores";
@import "mixins";

/***** H O J A   I N I C I O *****/
.inicio__container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}

.descrip__container{
    width: 100%;
    margin: 1rem;
}
    .descrip__article{
        display: flex;
        height: 15rem;
    }

    .descrip__box{
        width: 30%;
        background-color: $bgc1;
        padding: 4rem 1rem;
        border-radius: 1rem;
        margin-left: 1rem;
    }

    .descrip__title{
        font-size: 2.2rem;
        color: $titulo1;
        text-shadow: 1px 3px 0.6px $sombra1;text-align:center;
    }
    .descrip__explication{
        width: 70%;
        padding: 1rem 3rem;
        .descrip__argument{
            font-size: 1.3rem;
            line-height: 1.8rem;
            text-align: justify;
            }
        }
    


.cards{
    display: flex;
    width: 100%;
    margin: 2.2rem 0;
    .card__box{
        margin: 0.3rem;
        width: 40%;
        .card__img{
            width: 100%;
            border-radius: 1rem;
            background-size: cover;
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0);
                transition: all 1s;
                cursor:pointer;
                transform:scale(1.03);
            }
            .card__descrip{
                @include cards (1.3rem,1.6rem,center)
            }
        }
    }
}