/***** H O J A   P R O D U C T O *****/
.pruductos__container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}

.product__title{
    font-size: 2.4rem;
    margin: 1.5rem 0;
    padding: 1rem;
    font-family: 'Play', sans-serif;
    }
.product__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem , 1fr));
        gap: 0.5rem;
    }
.product__img{
            width: 10rem;
            height: 10rem;
            margin: auto;
        }




